qh_landreman_paul/runs
qa_landreman_paul/runs
**/*threed*
**/*.DS_Store
**/*.ipynb_checkpoints
**/*.vts
**/*.vtu

qa_landreman_paul/wechsung/minimizers

**/*.nc

**/slurm*
**/*_000_*
**/*.dat
**/*.png



horizontal_access/archives
horizontal_access/**/output
**/Untitled.ipynb


configurations/qa_landreman_paul/wechsung/minimizers
configurations/qh_landreman_paul/wiedman_coils/figures
configurations/qh_landreman_paul/wiedman_coils/output*
